# Entornos virtuales y dependencias
indicador/
node_modules/

# Variables de entorno (¡Seguridad, caón!)
.env

# Bases de datos y archivos de prueba locales
*.db
*.xlsx

# Logs, imágenes generadas y copias raras
*.txt
qr.png
*copy*

# Caché y sesiones del bot de WhatsApp
sessions/
.wwebjs_auth/
.wwebjs_cache/
Mensajes/
